#result{
    border: 2px solid black;
    width: 700px;
    height: 60px;
    text-align: center;
    margin: 10px 0 0 10px;
}
#curr {
    border: 4px solid black;
    width: 150px;
    height: 150px;
    margin: 30px 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#curr {
    font-size: 100px;
}
#seeSession a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
#seeSession{
    width: 200px;
    height: 40px;
    margin: 30px 270px;
}

